
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta charset="utf-8">
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
<meta content='width = device-width' name='viewport' />

<title>Little - About</title>

<link type="image/x-icon" rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/global-m.css"/>
<link rel="stylesheet" type="text/css" href="css/home-m.css">

</head>


<body id='privacy-m'>
	<section class='global-header slide'>
		<a href='home.html'><img id='logo' src='images/logo.png' /></a>
		<a href='https://itunes.apple.com/us/app/little-app/id639651078?ls=1&mt=8': class='download-appstore'>
			<img src='images/download-apple.png' />
			<span class='download-title1'>Available on the</span><br />
			<span class='download-title2'>App Store</span>
		</a>
	</section>
	<section class='content-wrapper slide'>
		<h1 class='page-title'>About Little</h1>
		<img class='about-bg' src='images/about-bg.png' />
		<p class='p-text line-top'>Our mission at The Little App is simple. We want to raise happier kids. Based on your child's age, Little can offer you age-appropriate activities, videos & story ideas, so you never run out of fun things to do with your child again.</p>
		<p class='p-text'>Little was founded by Tony Hsieh & Cathy Hsu in the spring of 2013, inspired by their daughter Wynter. We're grateful to all the parents & community members for helping us turn this app idea into reality.</p>

	</section>
	<section class='slide' id='footer'>
		<a href='https://itunes.apple.com/us/app/little-app/id639651078?ls=1&mt=8' class='download-l blue-btn'>
			<span>Get the Free App</span>
		</a>
		<ul class='footer-link'>
			<li id='nav1'><a href='home-m.html'>Home</a></li>
			<li id='nav2' class='active-bg'><a href='about-m.html'>About Little</a></li>
			<li id='nav3'><a href='privacy-m.html'>Privacy Policy</a></li>
			<li id='nav4'><a href='terms-m.html'>Terms Of Service</a></li>
			<li id='nav5'><a href='mailto:support@thelittleapp.com'>Help Center</a></li>
		</ul>
		<p class="copyright">&copy; 2013 Little, Inc. All rights reserved.</p>   
	</section>
</body>

</html>
