
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta charset="utf-8">
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
<meta content='width = device-width' name='viewport' />

<title>Little - Raise Happier Kids</title>

<link type="image/x-icon" rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/global-m.css"/>
<link rel="stylesheet" type="text/css" href="css/home-m.css">

<script type="text/javascript" src="js/js-m.js"></script>
<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
</head>


<body id='home-m'>

	<section class='slide' id='slide1'>
		<img id='logo' src='images/logo.png' />
		<div class='cover-wrapper'>
			<img class='cover-img' src='images/slide1-m.jpg' />
			<img class='cover-text-bg' src='images/cover-text-bg.png' />
		</div>
		<div class='cover-content'>
			<h1 class='title-l'>Little is an app to<br />help you raise happier kids.</h1>
			<a href='https://itunes.apple.com/us/app/little-app/id639651078?ls=1&mt=8' class='download-l blue-btn'>
				<span>Get the Free App</span>
			</a>
		</div>
	</section>
	<div class='slide-divider'></div>
	<section class='slide' id='slide2'>
		<img class='slide-img' src='images/slide2-m.jpg' />
		<div class='slide-content black-text'>
			<h1 class='title-l'>Indoor Fun</h1>
			<p class='slide-description'>Tons of age-appropriate<br />activities for different times<br />of the day.</p>
		</div>
	</section>
	<div class='slide-divider'></div>
	<section class='slide' id='slide3'>
		<img class='slide-img' src='images/slide3-m.jpg' />
		<div class='slide-content white-text'>
			<h1 class='title-l'>Outdoor Play</h1>
			<p class='slide-description'>Hundreds of ideas for family<br /> fun, rain or shine.</p>
		</div>
	</section>
	<div class='slide-divider'></div>
	<section class='slide' id='slide4'>
		<img class='slide-img' src='images/slide4-m.jpg' />
		<div class='slide-content black-text'>
			<h1 class='title-l'>Educational<br />Videos</h1>
			<p class='slide-description'>Extensive selection of<br >kid-friendly videos for the<br />few minutes you need.</p>
		</div>
	</section>
	<div class='slide-divider'></div>
	<section class='slide' id='slide5'>
		<img class='slide-img' src='images/slide5-m.jpg' />
		<div class='slide-content black-text'>
			<h1 class='title-l'>Story Starters</h1>
			<p class='slide-description'>A billion story ideas. Never<br />tell the same story twice.</p>
		</div>
	</section>
	<div class='slide-divider'></div>
	<section class='slide' id='slide6'>
		<img class='slide-img' src='images/social-bg-m.jpg' />
		<div class='red-board'>
			<h1 class='title-l white-text'>Join our community!</h1>
			<a href='http://www.facebook.com/appcenter/508325269208675' class='social'>
				<img class='social-icon' src='images/social-fb.png' />
				<span class='fb-icon'>Facebook</span></a>
			<a href='http://twitter.com/thelittleapp' class='social'>
				<img class='social-icon' src='images/social-twitter.png' />
				<span class='twitter-icon'>Twitter</span></a>
			<a href='http://instagram.com/thelittleapp' class='social'>
				<img class='social-icon' src='images/social-instagram.png' />
				<span class='instagram-icon'>Instagram</span></a>				
			<a href='http://pinterest.com/thelittleapp/' class='social'>
				<img class='social-icon' src='images/social-pinterest.png' />
				<span class='pinterest-icon'>Pinterest</span></a>
		</div>
	</section>
	<section class='slide' id='footer'>
		<a href='https://itunes.apple.com/us/app/little-app/id639651078?ls=1&mt=8' class='download-l blue-btn'>
			<span>Get the Free App</span>
		</a>
		<ul class='footer-link'>
			<li id='nav1' class='active-bg'><a href='home-m.html'>Home</a></li>
			<li id='nav2'><a href='about-m.html'>About Little</a></li>
			<li id='nav3'><a href='privacy-m.html'>Privacy Policy</a></li>
			<li id='nav4'><a href='terms-m.html'>Terms of Service</a></li>
			<li id='nav5'><a href='mailto:support@thelittleapp.com'>Help Center</a></li>
		</ul>
		<p class="copyright">&copy; 2013 Little, Inc. All rights reserved.</p>   
	</section>
</body>

</html>
